
{% extends "layout.html" %}

{% block pageTitle %}
  Home – Skills and Learning
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Civil Service Skills and Learning test</h1>








      <p>Welcome to the Skills and learning prototype.</p>

      <h2 class="govuk-heading-m">Pages</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/start">Start page</a></li>
        <li><a href="/emailandpass">Create an account - email and password</a></li>
        <li><a href="/privacypolicy">Create an account - Privacy policy</a></li>
        <li><a href="/yourdetails">Create an account - Your details</a></li>
        <li><a href="/grade">Create an account - Grade</a></li>
        <li><a href="/profession">Create an account - Profession</a></li>
        <li><a href="/current-contract">Create an account - current contract</a></li>
        <li><a href="/uploadcv">Create an account - Upload your cv</a></li>
        <li><a href="/contact-preference">Create an account - Contact preference</a></li>
        <li><a href="/interruption">Interruption</a></li>
      </ul>
    </div>
  </div>

{% endblock %}
