{% extends "layout.html" %}
{% block pageTitle %}
  Create an account
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Create a profile - Language skills</h1>

    <p>Add any languages that you use. You can change or add to these later</p>

    <div id="event-name-hint" class="govuk-hint">
We'll use this to suggest learning and career development opportunities that are relevant to you
</div>

    <form class="form" action="/current-contract" method="post">
      
      <div class="govuk-grid-row">
<h2 class="govuk-heading-m">Language one</h2>
      <label class="govuk-label" for="job">Select a language:</label>
      <select class="js-autocomplete" name="js-autocomplete" id="js-autocomplete">
        <option value="null"></option>
        <option value="job:AE-AZ">English</option>
        <option value="job:AE-AZ">German</option>
        <option value="job:AE-AZ">Spanish</option>
      </select>
      </div>
      <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          
          name: "speaking",
          fieldset: {
            legend: {
              text: "Speaking"
            }
          },
          
          items: [
            {
              value: "Basic",
      text: "Basic",
      hint: {
        text: "You can understand and use basic phrases, introduce yourself and describe in simple terms aspects of your background and environment"
      }
            },
            {
              value: "Independent",
      text: "Independent",
      hint: {
        text: "You can deal with most situations likely to arise while travellingi an area where the language is spoken and interact with a degree of fluency."
      }
            },
            {
              value: "Proficient",
      text: "Proficient",
      hint: {
        text: "You can express fluently and spontaneously and can use the language flexibly for social, academic and professional purposes."
      }
            }
          ]
        }) }}
      </div>

      <div class="govuk-grid-row">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          
          name: "Writing",
          fieldset: {
            legend: {
              text: "Writing"
            }
          },
          
          items: [
            {
              value: "Basic",
      text: "Basic",
      hint: {
        text: "You can understand and use basic phrases, introduce yourself and describe in simple terms aspects of your background and environment"
      }
            },
            {
              value: "Independent",
      text: "Independent",
      hint: {
        text: "You can produce clear, detailed text on a wide range of subjects and explain the advantages and disadvantages of a topical issue"
      }
            },
            {
              value: "Proficient",
      text: "Proficient",
      hint: {
        text: "You can produce clear, well-structured, detailed text on complex subjects and can express yourself fluently and precisely"
      }
            }
          ]
        }) }}
      </div>

      <p><a href="#">Add language</a></p>
      <p><a href="#">Skip this step</a></p>


        <button class="govuk-button" data-module="govuk-button">Continue</button>
</main>
      </form>

    </div>
  </div>

{% endblock %}
