{% extends "layout.html" %}
{% block pageTitle %}
  Create an account
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Create an account - Profession</h1>

      <p>Select the profession(s) that you belong to. You may choose more than oneit</p>

      <div id="event-name-hint" class="govuk-hint">
  We'll use this to suggest learning and career development opportunities that are relevant to you
</div>

      <form class="form" action="/privacypolicy" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {{ govukCheckboxes({

          items: [
            {
              value: "Corporate Finance Profession",
              text: "Corporate Finance Profession"
            },
            {
              value: "Counter-fraud Standards and Profession",
              text: "Counter-fraud Standards and Profession"
            },
            {
              value: "Digital, Data and Technology Professions",
              text: "Digital, Data and Technology Professions"
            },
            {
              value: "Government Communication Service",
              text: "Government Communication Service"
            },
            {
              value: "Government Economic Service",
              text: "Government Economic Service"
            },
            {
              value: "Government Finance Profession",
              text: "Government Finance Profession"
            },
            {
              value: "Government IT Profession",
              text: "Government IT Profession"
            },
            {
              value: "Government Knowledge and Information Management Profession",
              text: "Government Knowledge and Information Management Profession"
            },
            {
              value: "Government Legal Profession",
              text: "Government Legal Profession"
            },
            {
              value: "Government Occupational Psychology Profession",
              text: "Government Occupational Psychology Profession"
            },
            {
              value: "Government Operational Research Service",
              text: "Government Operational Research Service"
            },
            {
              value: "Government Planning Inspectors",
              text: "Government Planning Inspectors"
            },
            {
              value: "Government Planning Profession",
              text: "Government Planning Profession"
            },
            {
              value: "Government Property Profession",
              text: "Government Property Profession"
            },
            {
              value: "Government Security Profession",
              text: "Government Security Profession"
            },
            {
              value: "Government Science and Engineering Profession",
              text: "Government Science and Engineering Profession"
            },
            {
              value: "Government Social Research Profession",
              text: "Government Social Research Profession"
            },
            {
              value: "Government Statistical Service Profession",
              text: "Government Statistical Service Profession"
            },
            {
              value: "Government Tax Profession",
              text: "Government Tax Profession"
            },
            {
              value: "Government Veterinary Profession",
              text: "Government Veterinary Profession"
            },
            {
              value: "Human Resources Profession",
              text: "Human Resources Profession"
            },
            {
              value: "Intelligence Analysis",
              text: "Intelligence Analysis"
            },
            {
              value: "Internal Audit Profession",
              text: "Internal Audit Profession"
            },
            {
              value: "Operational Delivery Profession",
              text: "Operational Delivery Profession"
            },
            {
              value: "Policy Profession",
              text: "Policy Profession"
            },
            {
              value: "Procurement Profession",
              text: "Procurement Profession"
            },
            {
              value: "Project Delivery Profession",
              text: "Project Delivery Profession"
            }

          ]
        }) }}




        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
