{% extends "layout.html" %}
{% block pageTitle %}
  Create an account
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Create an account - your details</h1>

      <form class="form" action="/privacypolicy" method="post">



{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Full name"
  },
  classes: "govuk-input--width-20",
  id: "full-name",
  name: "full-name"
}) }}

<label class="govuk-label" for="job">Department</label>
<select class="js-autocomplete" name="js-autocomplete" id="js-autocomplete">
  <option value="null"></option>
  <option value="job:AE-AZ">Assurance, Finance and Controls</option>
  <option value="job:AE-AZ">Borders- Trade and Brexit Opportunities Unit</option>
  <option value="job:AE-AZ">C-19 Inquiry</option>
  <option value="job:AE-AZ">Cabinet Office Analysis</option>
  <option value="job:AE-AZ">Chief Digital and Data Office</option>
  <option value="job:AE-AZ">Chief Digital and Information Office</option>
  <option value="job:AE-AZ">Chief Operating Officer office</option>
  <option value="job:AE-AZ">Civil Service Commission</option>
  <option value="job:AE-AZ">Civil Service Human Resources</option>
  <option value="job:AE-AZ">Civil Service Modernisation and Reform Unit</option>
  <option value="job:AE-AZ">Commercial Models</option>
  <option value="job:AE-AZ">COP26</option>
</select>

<main class="govuk-main-wrapper">
<label class="govuk-label" for="job">Job title</label>
<select class="js-autocomplete" name="js-autocomplete" id="js-autocomplete">
  <option value="null"></option>
  <option value="job:AE-AZ">Application operations engineer</option>
  <option value="job:AE-AZ">Business analyst</option>
  <option value="job:AE-AZ">Business relationship manager</option>
  <option value="job:AE-AZ">Change and release manager</option>
  <option value="job:AE-AZ">Command and control centre manager</option>
  <option value="job:AE-AZ">Content designer</option>
  <option value="job:AE-AZ">Content strategist</option>
  <option value="job:AE-AZ">Data analyst</option>
  <option value="job:AE-AZ">Data architect</option>
  <option value="job:AE-AZ">Data engineer</option>
  <option value="job:AE-AZ">Data ethicist</option>
  <option value="job:AE-AZ">Data scientist</option>
  <option value="job:AE-AZ">Delivery manager</option>
  <option value="job:AE-AZ">Development operations (DevOps) engineer</option>
  <option value="job:AE-AZ">End user computing engineer</option>
</select>
</main>

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Your line managers email"
  },
  classes: "govuk-input--width-20",
  id: "line manager email",
  name: "line-manager-email"
}) }}




        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
